/* Google Font */

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
/* some variables */
:root{
    --main-color:#ff2c1f;
    --text-color:#020307;
    --bg-color:#fff;
}
html::-webkit-scrollbar{
    width: 0.5rem;
    background: var(--text-color);
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}
body{
    background: var(--text-color);
    color: var(--bg-color);
}
section{
    margin-top: -2rem;
    padding: 4.5rem 0 1.5rem;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.5s;
    background: #020307;
}
header .shadow{
    background: var(--bg-color);
}
.logo{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--bg-color);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.logo .fas{
    font-size: 24px;
    color: var(--main-color);
}
.navbar{
    display: flex;
    column-gap: 5rem;
}
.navbar li{
    position: relative;
}
.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color);
}
.navbar a::after{
    content:'';
    width: 0;
    height: 2px;
    background: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all linear;
}
.navbar a:hover::after,
.navbar .home-active::after{
    width: 100%;
}
#bars-icon{
   font-size: 24px;
   cursor: pointer;
   z-index: 1000001;
   display: none;
}
.btn{
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
} 
.btn:hover{
    background: #fa1216;
}
.container{
    width: 100%;
    min-height: 640px;
    position: relative;
    display: flex;
    align-items: center;
    background: rgb(2,3,7,0.4);
}
.container img{
    position: absolute;
    width: 100%;
    height: 109vh;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    
}

.home-text{
    z-index: 1000;
    padding: 0 150px;
    margin-top: 16rem;
}
.home-text span{
   color: var(--bg-color); 
   font-weight: 500;
    text-transform: uppercase;
}
.home-text h1{
    color: var(--bg-color);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.play{
    position: absolute;
    right: 4rem;
    bottom: 10%;
    align-items: center;
}
.play .fas{
    background: var(--bg-color);
    padding: 10px;
    font-size: 2rem;
    border-radius: 50%;
    border: 4px solid rgb(2,3,7,0.4);
    color: var(--main-color);
    align-items: center;
}
.play .fas:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.2s all linear;
}
.heading{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid var(--main-color);
}
.movie-container{
    max-width: 968px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.box .box-img{
    width: 100%;
    height: 270px;
}
.box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box .box-img img:hover{
    transform: translateY(-10px);
    transition: 0.2s all linear;
}
.box h3{
    font-size: 0.9rem;
    font-weight: 500;
}
.box span{
    font-size: 13px;
}
.newsletter{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}
.newsletter h2{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}
.newsletter form{
    background: var(--bg-color);
    padding: 10px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}
.newsletter form input{
    border: none;
    outline: none;
}
.newsletter form .email{
    width: 280px;
}
.newsletter form input::placeholder{
    color: var(--text-color);
    font-size: 0.8rem;
    font-weight: 400;
}
.newsletter .btn{
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}
.footer{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.social .fas{
    background: var(--bg-color);
    padding: 2px;
    font-size: 2rem;
    border-radius: 50%;
    border: 4px solid rgb(2,3,7,0.4);
    color: var(--main-color);
}
.social .fas:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.2s all linear;
}
.copyright{
    padding: 20px;
    text-align: center;
    color: var(--bg-color);
}
@media(max-width:1080px){
    .home-text{
        padding: 0 100px;
    }
}
@media(max-width:991px){
header{
        padding: 18px 4%;
    }
    section{
        padding: 50px 4%;
    }
    .home-text{
        padding: 0 4%;
    }
    .home-text h1{
      font-size: 3rem;  
    }
}
@media(max-width:774px){
    header{
        padding: 12px 4%;
    }
    #bars-icon{
        display: initial;
        color: var(--bg-color);
    }
    
    .navbar{
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        row-gap: 1.4rem;
        padding: 20px;
        box-shadow: 4px 4px 0 4px rgb(14 55 54 / 15%);
        transition: 0.2s all linear;
        text-align: center;
    }
    .navbar a{
        width: 100%;
        color: var(--text-color);
    }
    .navbar a:hover{
        color: var(--main-color);
        border-bottom: 2px solid var(--main-color);
    }
    .navbar a::after{
        display: none;
    }
    .navbar.active{
        top: 100%;
    }
    .container img{
        width: 100%;
        height: 109vh;
    }
}