* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

/* some variables */
:root {
    --main-color: #ff2c1f;
    --text-color: #020307;
    --bg-color: #fff;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./asset/img/exx.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}


header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.5s;
    background: #020307;
}
.logo{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--bg-color);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.logo .fas {
    font-size: 24px;
    color: var(--main-color);
}

.navbar {
    display: flex;
    column-gap: 5rem;
}

.navbar li {
    position: relative;
}

.navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color);
}

.navbar a::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all linear;
}

.navbar a:hover::after,
.navbar .home-active::after {
    width: 100%;
}

#bars-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 1000001;
    display: none;
    
}

.btn {
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
    
}

.btn:hover {
    background: #fa1216;
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    
    margin-top: 5.7rem;
    
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 19px;
    top: 15px;

    transform: translate(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label inpute {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn1{
    padding: 0.7rem 1.4rem;
    background: red;
    color: white;
    font-weight: 500;
    border-radius: 0.5rem;
    margin-left: 105px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn1:hover {
    background: #fa1216;
}

.register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

@media(max-width:472px) {
    .btn {
        padding: 0.7rem 1.4rem;
        background: red;
        color: white;
        font-weight: 500;
        border-radius: 0.5rem;
        margin-left: 106px;
    }
}

@media(max-width:774px) {
    .btn {
        padding: 0.7rem 1.4rem;
        background: red;
        color: white;
        font-weight: 500;
        border-radius: 0.5rem;
        margin-left: 118px;
    }
}

@media(max-width:1080px) {
    .home-text {
        padding: 0 100px;
    }
}

@media(max-width:991px) {
    header {
        padding: 18px 4%;
    }

    section {
        padding: 50px 4%;
    }

    .home-text {
        padding: 0 4%;
    }

    .home-text h1 {
        font-size: 3rem;
    }
}

@media(max-width:774px) {
    header {
        padding: 12px 4%;
    }

    /* #bars-icon {
        display: initial;
        color: var(--bg-color);
        margin-left: 4rem;
    } */

    header.shadow #bars-icon {
        color: var(--text-color);
    }

    .navbar {
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        row-gap: 1.4rem;
        padding: 20px;
        box-shadow: 4px 4px 0 4px rgb(14 55 54 / 15%);
        transition: 0.2s all linear;
        text-align: center;
    }

    .navbar a {
        width: 100%;
        color: var(--text-color);
    }

    .navbar a:hover {
        color: var(--main-color);
        border-bottom: 2px solid var(--main-color);
    }

    .navbar a::after {
        display: none;
    }

    .navbar.active {
        top: 100%;
    }

    .container img {
        align-items: center;
        width: 100%;
        height: 109vh;
    }

    .home-text h1 {
        font-size: 2.4rem;
    }

    .btn {
        padding: 0.6rem 1.2rem;
    }

    header .btn {
        padding-left: 20px;
    }

    .movie-container {
        grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    }
}

@media(max-width:472px) {

    .newsletter form .email {
        width: auto;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
        
    }

    @media(max-width:370px) {
        header {
            padding: 6px 4%;
        }

        .home-text h1 {
            font-size: 1.7rem;
        }

        .play {
            right: 2rem;
            bottom: 8%;
        }

        .play .fas {
            padding: 7px;
        }

        .movie-container {
            grid-template-columns: repeat(auto-fit, minmax(140px, auto));
        }

        .box .box-img {
            height: 240px;
        }
    }

}
