html{
  scroll-behavior: smooth;
}


* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

/* some variables */
:root {
    --main-color: #ff2c1f;
    --text-color: #020307;
    --bg-color: #fff;
}

body {
    background: var(--text-color);
    color: var(--bg-color);
}

section {
    margin-top: -2rem;
    padding: 4.5rem 0 1.5rem;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.5s;
    background: #020307;
}

header .shadow {
    background: var(--bg-color);
}

.logo {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--bg-color);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.logo .fas {
    font-size: 24px;
    color: var(--main-color);
}

.navbar {
    display: flex;
    column-gap: 5rem;
}

.navbar li {
    position: relative;
}

.navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color);
}

.navbar a::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all linear;
}

.navbar a:hover::after,
.navbar .home-active::after {
    width: 100%;
}

/* popup login/signup */

/* .form-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 720px;
    width: 100%;
    background: #fff;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
}

.form

.form-popup .form-box{
    display: flex;
}

.form-box .form-details {
    max-width: 330px; 
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("./asset/img/gb.jpg");
    background-size: cover;
    background-position: center;
}
.form-box .form-details p{
    color: #ffffff;
}

.form-box h2{
    text-align: center;
    margin-bottom: 30px;
    color: #000000;
}

.form-box .form-content {
    width: 100%;
    padding: 35px;
}

/* .form-box .form-content label{
    color: #000000;
} */
/* form .input-field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

form .input-field input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 15px;
    font: size 0.95em;
    border-radius: 3px;
    border: 1px solid #717171;
}

.input-field input:focus{
    border-color: #00bcd4;
}

.input-field input:is(:focus, :valid) {
    padding: 16px 15px 0;
}

form .input-field label{
    position: absolute;
    top: 50%;
    left: 15px;
    color: #717171;
    pointer-events: none ;
    transform: translateY(-50%);
    transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ label{
    color: #00bcd4;
    font-size: 0.75rem;
    transform: translateY(-120%);
}

.form-box a {
    color: #00bcd4;
    text-decoration: none;
}

.form-box a:hover {
    text-decoration: underline;
}

.form-box .forgot-pass{
    display: inline-flex;
    margin-top: 14px;
    font-size: 0.95rem;
}

form button {
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 14px 0;
    border-radius: 3px;
    margin: 25px 0;
    color: #fff;
    cursor: pointer;
    background: #00bcd4;
    transition: 0.2s ease;
}

form button:hover {
    background: #0097a7;
}

.form-box .bottom-link{
    text-align: center;
} */


/* #preloader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;     /* page background while loading */
/* display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.6s ease;  /* fade effect 
} 

.loading-text{
  color: rgb(255, 255, 255);     /* red text 
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  animation: blink 1s infinite;
}*/


#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Loader circle */
.loader {
    width: 60px;
    height: 60px;
    border: 6px solid red;
    border-top: 6px solid white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* @keyframes blink{
  0%{ opacity: 0.3; }
  50%{ opacity: 1; }
  100%{ opacity: 0.3; }
}

/* hide after fade 
#preloader.hide{
  opacity: 0;
  pointer-events: none;
} */


#bars-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 1000001;
    display: none;
}

.btn {
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
}

.btn:hover {
    background: #fa1216;
}

.container {
    width: 100%;
    min-height: 640px;
    position: relative;
    display: flex;
    align-items: center;
    background: rgb(2, 3, 7, 0.4);
}

.container img {
    position: absolute;
    width: 100%;
    height: 109vh;
    object-fit: cover;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: rem;
    object-position: center;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    z-index: -1;
}

.swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
    border-radius: 0.2rem !important;
    background: var(--bg-color) !important;
    overflow: 1 !important;
}

.home-text {
    z-index: 1000;
    padding: 0 150px;
    margin-top: 17.9rem;
}

.home-text span {
    color: var(--bg-color);
    font-weight: 500;
    text-transform: uppercase;
}

.home-text h1 {
    color: var(--bg-color);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.play {
    position: absolute;
    right: 4rem;
    bottom: 10%;
    align-items: center;
}

.play .fas {
    background: var(--bg-color);
    padding: 10px;
    font-size: 2rem;
    border-radius: 50%;
    border: 4px solid rgb(2, 3, 7, 0.4);
    color: var(--main-color);
    align-items: center;
}

.play .fas:hover {
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.2s all linear;
}

.heading {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid var(--main-color);
}

.movie-container {
    max-width: 968px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.box .box-img {
    width: 100%;
    height: 270px;
}

.box .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box .box-img img:hover {
    transform: translateY(-10px);
    transition: 0.2s all linear;
}

.box h3 {
    font-size: 0.9rem;
    font-weight: 500;
}

.box span {
    font-size: 13px;
}

.newsletter {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}

.newsletter h2 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.newsletter form {
    background: var(--bg-color);
    padding: 10px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}

.newsletter form input {
    border: none;
    outline: none;
}

.newsletter form .email {
    width: 280px;
}

.newsletter form input::placeholder {
    color: var(--text-color);
    font-size: 0.8rem;
    font-weight: 400;
}

.newsletter .btn {
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.footer {
    max-width: 968px;
    margin-left: none;
    margin-right: none;
    display: flex;
    justify-content: space-between;
    padding-left: 20rem;
    padding-right: 3rem;
}

.social {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.social .fas {
    background: var(--bg-color);
    padding: 2px;
    font-size: 2rem;
    border-radius: 50%;
    border: 4px solid ( white);
    color: var(--main-color);
}

.social .fas:hover {
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.2s all linear;
}

.copyright {
    padding: 20px;
    text-align: center;
    color: var(--bg-color);
}

.img23 {
    object-fit: cover;
    width: 100%;
    height: 60vh;
}


#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#popup {
    background: #000000;
    padding: 25px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    animation: shake 0.5s ease-in-out 3;
}

#popup h2 {
    color: var(--main-color);
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-2px);
    }

    50% {
        transform: translateX(2px);
    }

    75% {
        transform: translateX(-2px);
    }

    100% {
        transform: translateX(0);
    }

}

#popup-btn {
    background: var(--main-color);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

#close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

/* VIDEO POPUP */
.video-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.video-popup video {
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}


@media(max-width:774px) {
    header {
        padding: 12px 4%;
    }

    #bars-icon {
        display: initial;
        color: var(--bg-color);
    }

    header.shadow #bars-icon {
        color: var(--text-color);
    }

    .navbar {
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        row-gap: 1.4rem;
        padding: 20px;
        box-shadow: 4px 4px 0 4px rgb(14 55 54 / 15%);
        transition: 0.2s all linear;
        text-align: center;
    }

    .navbar a {
        width: 100%;
        color: var(--text-color);
    }

    .navbar a:hover {
        color: var(--main-color);
        border-bottom: 2px solid var(--main-color);
    }

    .navbar a::after {
        display: none;
    }

    .navbar.active {
        top: 100%;
    }

    .container img {
        align-items: center;
        width: 100%;
        height: 109vh;
    }

    .home-text {
        align-items: center;
        padding-right: 50rem;
        margin-left: 10rem;
        width: 300%;
        padding: 150px 0 150px;

    }

    .home-text h1 {
        font-size: 1.6rem;
    }

    .btn {
        padding: 0.6rem 1.2rem;
    }

    header .btn {
        padding-left: 20px;
    }

    .movie-container {
        grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    }
}

@media(max-width:472px) {

    .newsletter form .email {
        width: auto;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
        padding-left: 5rem;
        padding-right: 5rem;

    }

    @media(max-width:370px) {
        header {
            padding: 6px 4%;
        }

        .home-text h1 {
            font-size: 1.5rem;
        }


        .home-text {
            align-items: center;
            padding-right: 50rem;
            margin-left: 10rem;
            width: 300%;

        }

        .play {
            right: 2rem;
            bottom: 8%;
        }

        .play .fas {
            padding: 7px;
        }

        .movie-container {
            grid-template-columns: repeat(auto-fit, minmax(140px, auto));
        }

        .box .box-img {
            height: 240px;
        }
    }

}